<form class="formLogin" action="/autenticacao" method="POST" name="formulario">
    <div class="items">
        <h3><br> Login</h3>

        <div class="   col-md-8 offset-md-2">
            <label> Usuário ou E-MAIL</label>
            <input type="text" name="email" class="form-control " placeholder=" Usuário ou E-MAIL" required="">
        </div>

        <div class="col-md-8 offset-md-2">
            <label> Senha </label>
            <input type="password" name="senha" class="form-control" placeholder="SENHA" required="">
        </div>

        <div class="col-md-8 offset-md-2" id="btnLogin">
            <input type="submit" value="Login" class="btn btn-dark" name="">
        </div>
    </div>
</form>