<form class="formLogin" action="/autenticacao" method="POST" name="formulario">
    <div class="items">
        <h3><br> Login</h3>

        <div class="   col-md-8 offset-md-2">
            <label>Email</label>
            <input type="text" name="email" class="form-control " required="">
        </div>

        <div class="col-md-8 offset-md-2">
            <label> Senha </label>
            <input type="password" name="senha" class="form-control" required="">
        </div>

        <div class="col-md-8 offset-md-2">
            <input id="btnLogin" type="submit" value="Login" class="btn btn-dark" name="">
        </div>
    </div>
</form>


