<div class="   col-md-4 offset-md-4">
    <label> Tipo de Arquivo</label>
    <select name="documentType" onchange="selectedType()" id="formSelect" class="form-select"
        aria-label="Default select example">
        <option value="0"></option>
        <option value="1">Alvará</option>
        <option value="2">Comprovante</option>
        <option value="3">Contrato</option>
        <option value="4">Fatura</option>
        <option value="5">Nota Fiscal</option>
        <option value="6">Outros Arquivos</option>
    </select>
</div>

<div id="FormNotaFiscal" hidden>
    <form action="/novo/nota_fiscal" method="POST" name="formulario" enctype="multipart/form-data">
        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label> Cod. Filial</label>
                <select name="cod_filial" class="form-select" aria-label="Default select example">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="98">98</option>
                    <option value="99">99</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label> Nº Nota</label>
                <input type="text" name="num_nota" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label> Cod. Cliente </label>
                <input type="text" name="cod_cliente" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label> Nº Pedido </label>
                <input type="text" name="num_pedido" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label> CPF/CNPJ </label>
                <input type="text" name="cpf_cnpj" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label> Data de Emissão</label>
                <input type="date" name="data_emissao" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label> Anexo de arquivo </label>
                <input type="file" name="diretorio" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <input type="submit" value="Inserir" class="btn btn-dark" name="">
            </div>
        </div>
    </form>
</div>



















<div id="FormAlvara" hidden>
    <form action="/novo/alvara" method="POST" name="formulario">
        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label> Nº Alvará</label>
                <input type="text" name="num_alvara" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label> CNPJ </label>
                <input type="text" name="cnpj" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label> Data de Emissão</label>
                <input type="date" name="data_emissao" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label> Data de Validade</label>
                <input type="date" name="data_validade" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label> Anexo de arquivo </label>
                <input type="file" name="diretorio" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <input type="submit" value="Inserir" class="btn btn-dark" name="">
            </div>
        </div>
    </form>
</div>













<div id="FormComprovante" hidden>
    <form action="/novo/comprovante" method="POST" name="formulario">
        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label>Nome Beneficiário</label>
                <input type="text" name="nome_beneficiario" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label> CPF/CNPJ Beneficiário</label>
                <input type="text" name="cpf_cnpj_beneficiario" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label> Nome Pagador</label>
                <input type="text" name="nome_pagador" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label>CPF/CNPF Pagador</label>
                <input type="text" name="cpf_cnpj_pagador" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label>Data Pagamento</label>
                <input type="date" name="data_pagamento" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label> Anexo de arquivo </label>
                <input type="file" name="diretorio" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <input type="submit" value="Inserir" class="btn btn-dark" name="">
            </div>
        </div>
    </form>
</div>



















<div id="FormContrato" hidden>
    <form action="/novo/contrato" method="POST" name="formulario">
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label> CPF/CNPJ Empregador</label>
                <input type="text" name="cnpj_empregador" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label> Nome Empregado</label>
                <input type="text" name="nome_empregado" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label>CPF Empregado</label>
                <input type="text" name="cpf_empregado" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label>Cargo</label>
                <input type="text" name="cargo" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label> Anexo de arquivo </label>
                <input type="file" name="diretorio" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <input type="submit" value="Inserir" class="btn btn-dark" name="">
            </div>
        </div>
    </form>
</div>







<div id="FormFatura" hidden>
    <form action="/novo/fatura" method="POST" name="formulario">
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label> Nº Fatura</label>
                <input type="text" name="num_fatura" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label>Data de Emissão</label>
                <input type="date" name="data_emissao" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label>Data de Vencimento</label>
                <input type="date" name="data_vencimento" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="   col-md-6 offset-md-3">
                <label>Valor</label>
                <input type="text" name="valor" class="form-control " placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <label> Anexo de arquivo </label>
                <input type="file" name="diretorio" class="form-control" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <input type="submit" value="Inserir" class="btn btn-dark" name="">
            </div>
        </div>
    </form>
</div>

<script src="/newFile.js"></script>