

<div class="container ">
    <form action="/teste" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div name='nome' class="   col-md-6 offset-md-3">
                <label> Nome Completo</label>
                <input name="nome" type="text" class="form-control " placeholder="Nome" required="">
            </div>

            <div class="   col-md-6 offset-md-3">
                <label> Cargo</label>
                <select name="cargo" class="form-select" aria-label="Default select example">
                    <option value="1">Analista de Estoque</option>
                    <option value="2">Compras</option>
                    <option value="3">Contador</option>
                </select>
            </div>

            <div class="   col-md-6 offset-md-3">
                <label> Selecione o arquivo</label>
                <input name="arquivo" type="file" class="form-control " required="">
            </div>

            <div class="   col-md-6 offset-md-3">
                <a href="249201348_1606578142_001.pdf"></a>
                <button type="submit" class="btn btn-dark">Enviar</button>
            </div>

            
        </div>
    </form>
    </div>