<head><link rel="stylesheet" href="/TelaLogin.css"></head>

<div class="login">
    <form class="formNewLogin" action="/autenticacao" method="post">
        <img src="/iconFile.png" alt="">
        <h3>File <span>Storage</span></h3>
        <input class="items" type="text" placeholder="Email" name="email">
        <input class="items" type="password" placeholder="Senha" name="senha">
        <input type="submit" id="btnNewLogin" value="Login">
        <a href="#">Esqueceu sua senha?</a>
    </form>
</div>
<div class="redesSociais">
    <a href="https://api.whatsapp.com/send?phone=5586981862803&text=Wellington%20Teixeira">Whatsapp</a>
    <a href="https://www.instagram.com/wellington._.teixeira/">Instagram</a>
    <a href="https://www.linkedin.com/in/wellington-teixeira-6a383a188/">LinkedIn</a>
</div>