<div class="login">
    <form class="formNewLogin" action="" method="post">
        <img src="/iconFile.png" alt="">
        <h3>File <span>Storage</span></h3>
        <input class="items" type="text" placeholder="Email" name="email">
        <input class="items" type="password" placeholder="Senha" name="senha">
        <input type="submit" id="btnNewLogin" value="Login">
        <a href="#">Esqueceu sua senha?</a>
    </form>
</div>
<div class="redesSociais">
    <a href="#">Whatsapp</a>
    <a href="#">Instagram</a>
    <a href="#">LinkedIn</a>
</div>