<img class="imgLogo" src="/iconFile.png" alt="">
<h4 class="newLogo">File <span>Storage</span></h4>
<h6 id="cabecalho">Informações do Documento</h6>

<div class="telaInicial">
    <form action="">
        <select name="" id="comboFile">
            <option value="1">Tipo de Arquivo</option>
            <option value="2">Alvará</option>
            <option value="3">Comprovante</option>
            <option value="4">Fatura</option>
            <option value="5">Nota Fiscal</option>
        </select>

        <input type="text" placeholder="Número Alvará">
        <input type="text" placeholder="CNPJ">
        <input type="text" placeholder="Data de Emissão">
        <input type="text" placeholder="Data de Vencimento">
        <input type="submit" id="btnNewConsult" value="Consultar">
    </form>



    <table>
        <thead>
            <tr>
                <th>Nº Alvará</th>
                <th>CNPJ</th>
                <th>Data de Emissão</th>
                <th>Data de Vencimento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1547855</td>
                <td>2578541258</td>
                <td>31/01/1999</td>
                <td>01/01/2025</td>
                <td>Visualizar</td>
            </tr>
            <tr>
                <td>1547855</td>
                <td>2578541258</td>
                <td>31/01/1999</td>
                <td>01/01/2025</td>
                <td>Visualizar</td>
            </tr>
             <tr>
                <td>1547855</td>
                <td>2578541258</td>
                <td>31/01/1999</td>
                <td>01/01/2025</td>
                <td>Visualizar</td>
            </tr>
            <tr>
                <td>1547855</td>
                <td>2578541258</td>
                <td>31/01/1999</td>
                <td>01/01/2025</td>
                <td>Visualizar</td>
            </tr>
        </tbody>
    </table>
</div>

<a href="#"><img class="iconAdd" src="/iconAdd.png" alt=""></a>