body{
    background-color: #fffef6;
}

nav{
    margin-bottom: 2%;
    background-color: rgb(10, 17, 104);
    font-size: 40px;
}

button{
    background-color: black;
}

.col-md-4.offset-md-4{
    display: flex;
}

.col-md-4.offset-md-4 label{
    font-size: 17px;
    width: 40%;
}

.col-md-6.offset-md-3{
    margin-top: 0.9%;
}

.animation{
    scroll-behavior: smooth;
}

#FormNotaFiscal, #FormAlvara, #FormComprovante, #FormContrato, #FormFatura{
    animation: fadeIn 1s;
}

#btnNew{
    
    margin-left: 60%;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.logo{
    width: 900px;
    margin: 15% auto;
    text-align: center;
}

.logo h1{
    font-weight: bold;
    font-size: 60px;
    animation: flow 10s ease-in-out infinite;
    background: linear-gradient(-60deg,#5590e7, black, #5590e7, black);
    background-size: 300%;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes flow{
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 0;
    }
    75% {
        background-position: 0 50%;
    }
    100% {
        background-position: 0 100%;
    }
}