body{
    background-color: #F5F5F5;
}

.imgLogo{
    position: relative;
    margin-top: 1%;
    margin-left: 7.8%;
    width: 40px;
    height: 40px;
}

#logo{
    display: flex;
}

#logo a{
    text-decoration: none;
    margin-left: 71.5%;
    font-size: 20px;
    color: #ff3434;
}

.newLogo{
    margin-top: -0.7%;
    margin-left: 10%;
    color: #FF0000;
}

.newLogo span{
    color: #ff4e22;
}

#cabecalho{
    font-weight: 400;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 3%;
}

.telaInicial{
    text-align: center;
    margin: auto;
    width: 80%;
}

.formConsult{
    display: flex;
}

.telaInicial form{
    margin: auto;
    width: 100%;
}

.telaInicial #comboFile{
    margin-top: 3px;
    height: 35px;
    border-radius: 5px;
    width: 195px;
    color: #776F6F;
    padding-left: 7px;
    padding-bottom: 2px;
    margin-right: 25px;
}

.telaInicial input{
    margin-right: 30px;
    border-radius: 5px;
    height: 35px;
    border: solid 1px;
    background-color: #FEFEFC;
    padding: 0 0 3px 15px;
    border: solid 1px rgb(143, 141, 141);
}

.telaInicial #btnNewConsult{
    width: 170px;
    height: 35px;
    background-color: #FC4749;
    color: #FEFEFC;
    padding: 0 0 0 0;
    border: solid 1px rgb(143, 141, 141);
}

table {
    border-radius: 10px;
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    background:#fafafa ;
    margin: 5% auto;
    width: 100%;
    color: #776F6F;
    border-collapse: collapse;
  }

  tr{
    border-collapse: collapse;
    border-bottom: 10px solid transparent;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    padding: 20px;
    background:#5f5959;
    color: rgb(255, 255, 255);
    border-collapse: collapse;
  }

  #iconAdd{
    font-size: 50px;
    color: #fa2529;
    top: 600px;
    left: 90%;
    position: absolute;
  }

::-webkit-input-placeholder{
    color: #776F6F;   
}

tr a{
    text-decoration: none;
    color: #776F6F;
}

tr:nth-child(even) a{
    color: rgb(255, 255, 255);
}
